<!DOCTYPE html>
<html lang="en">
<head>
    <title>NG TDU Torque Graph Report</title>
<style>
h1 {
  /*color: blue;*/
  font-family: verdana;
  font-size: 100%;
}
table {
  /*font-family: courier;*/
  border-collapse: collapse;
  width: 50%;
}
th {
  color: #4B0082;
  font-family: arial, sans-serif;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
td {
  font-family: courier;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body style="background-color:#F5F5F5;">
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
